/*Cursor.css | Custom cursor style and animations */

@media (min-width: 769px) {
    .hide-cursor *, 
    .hide-cursor *:hover,
    .hide-cursor button,
    .hide-cursor input[type="submit"],
    .hide-cursor input[type="button"],
    .hide-cursor a:hover,
    .hide-cursor a:link,
    .hide-cursor a:visited,
    .hide-cursor select,
    .hide-cursor input[type="range"],
    .hide-cursor input[type="date"],
    .hide-cursor input[type="color"],
    .hide-cursor ::-webkit-resizer,
    .hide-cursor video,
    .hide-cursor canvas {
        cursor: none !important;
    }

    .custom-cursor {
        width: 38px;
        height: 38px;
        pointer-events: none;
        position: fixed;
        background-image: url('../img/cursor.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 9999;
        transform-origin: 0 0;
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .custom-cursor.active {
        transform: scale(1.3);
    }
}